.confirmation {
    max-width: 1400px;
    margin: 20px auto;
    min-height: calc(100vh - 160px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    p {
        color: #5983e8;
        font-size: 24px;
        font-weight: bold;
        font-style: italic;
    }

    .resend {
        display: flex;
        align-items: center;
        margin: 20px;

        button {
            margin-left: 20px;
        }

        input {
            color: black;
        }
    }

    span {
        color: red;
    }
}
